<ion-side-menus enable-menu-with-back-views="true" >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable bar-calm">
      <h1 class="title" style="text-align: center">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item_menu" menu-close style="padding: 0px; border: none; border-color: white" >
            <img src="img/logo2.jpg" alt="" style="width: 100%; height: 185px">
        </ion-item>
        <ion-item class="item_menu" menu-close  href="#/app/inicio">
          <i class=" icon-menu ion ion-home"></i>
          Inicio
        </ion-item>
        <ion-item class="item_menu" menu-close  href="#/app/atractivos">
          <i class=" icon-menu ion ion-map"></i>
          Atractivos Turísticos
        </ion-item>

        <ion-item class="item_menu" menu-close href="#/app/agencias">
          <i class=" icon-menu ion ion-android-bus"></i>
          Agencias de Turismo
        </ion-item>
        <ion-item class="item_menu" menu-close href="#/app/transportes">
          <i class=" icon-menu ion ion-android-car"></i>
          Servicio de Transporte
        </ion-item>
        <ion-item class="item_menu" menu-close href="#/app/emergencias">
          <i class=" icon-menu ion ion-android-phone-portrait"></i>
          Emergencias
        </ion-item>
        <ion-item class="item_menu" menu-close href="#/app/acerca">
          <i class=" icon-menu ion ion-help"></i>
          Acerca de
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
