<ion-side-menus enable-menu-with-back-views="true" >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-calm bg-green">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable bar-calm bg-green">
      <h1 class="title" style="text-align: center">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item_menu" menu-close style="padding: 0px; border: none; border-color: white" >
            <img src="img/logo2.jpg" alt="" style="width: 100%; height: 185px">
        </ion-item>
        <ion-item class="item_menu"  menu-close  ui-sref="app.home" ui-sref-active="active">
          <i class=" icon-menu ion ion-home"></i>
          Inicio
        </ion-item>
        <ion-item class="item_menu" menu-close  ui-sref="app.atractivos" ui-sref-active="active">
          <i class=" icon-menu ion ion-map"></i>
          Atractivos Turísticos
        </ion-item>

        <ion-item class="item_menu" menu-close ui-sref="app.agencias" ui-sref-active="active">
          <i class=" icon-menu ion ion-android-bus"></i>
          Agencias de Viajes
        </ion-item>

        <ion-item class="item_menu" menu-close ui-sref="app.paquetes" ui-sref-active="active">
          <i class=" icon-menu ion ion-social-buffer"></i>
          Paquetes Turísticos
        </ion-item>

        <ion-item class="item_menu" menu-close ui-sref="app.galeria" ui-sref-active="active">
          <i class=" icon-menu ion ion-image"></i>
          Galería de fotos
        </ion-item>
        <ion-item class="item_menu" menu-close ui-sref="app.transportes" ui-sref-active="active">
          <i class=" icon-menu ion ion-android-car"></i>
          Servicio de Transporte
        </ion-item>
        <ion-item class="item_menu" menu-close ui-sref="app.emergencias" ui-sref-active="active" >
          <i class=" icon-menu ion ion-android-phone-portrait"></i>
          Emergencias
        </ion-item>
        <ion-item class="item_menu" menu-close ui-sref="app.acerca" ui-sref-active="active" >
          <i class=" icon-menu ion ion-help"></i>
          Acerca de
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
