<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.appturismo829024" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Voy De Viaje</name>
    <description>
    An Ionic Framework and Cordova project.
  </description>
    <author email="you@example.com" href="http://example.com/">
    Your Name Here
  </author>
    <framework src="com.google.android.gms:play-services-location:9.4.0" />
    <content src="index.html" />
    <access origin="*" />
    <access launch-external="yes" origin="tel:*" />
    <access launch-external="yes" origin="mailto:*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="whatsapp:*" />
    <allow-intent href="mailto:*" />
    <allow-navigation href="*://*.googleapis.com/*" />
    <allow-navigation href="http://192.168.1.42:8101" />
    <allow-navigation href="http://192.168.1.101:8101" />
    <allow-navigation href="http://192.168.1.34:8101" />
    <allow-navigation href="http://192.168.1.39:8101" />
    <allow-navigation href="http://192.168.1.46:8101" />
    <allow-navigation href="http://192.168.1.42:8100" />
    <allow-navigation href="http://192.168.1.45:8100" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="6000" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <feature name="FileTransfer">
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <icon density="ldpi" src="resources\android\icon\drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources\android\icon\drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources\android\icon\drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources\android\icon\drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources\android\icon\drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources\android\icon\drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="resources\android\splash\drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="resources\android\splash\drawable-land-mdpi-screen.png" />
        <splash density="port-ldpi" src="resources\android\splash\drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="resources\android\splash\drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="resources\android\splash\drawable-port-hdpi-screen.png" />
    </platform>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="InAppBrowser" />
    <plugin name="cordova-plugin-file" spec="^4.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.2" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.1" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.2.0" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
</widget>
