<ion-view view-title="Atractivo">
  <ion-content>
    <div class="atractivoDetail__boxHeader">
      <div class="atractivoDetail__boxPortada">
        <h4 class="atractivoDetail__titleLugar">
          {{atractivo[0].nombre}}
        </h4>
        <img class="atractivoDetail__imgPortada" src="http://{{dominio_img}}/{{atractivo[0].url_imagen}}">
        <div class="row atractivoDetail__boxBtns">
          <div class="col text-center">
            <button class="button button-calm atractivoDetail__boxBtns__btn"
                    ui-sref="app.detalle({id: atractivo[0].id})">
              <i class="ion ion-information"></i>
            </button>
            <p class="atractivoDetail__boxBtns__span">Información</p>
          </div>
          <div class="col text-center">
            <button class="button button-calm atractivoDetail__boxBtns__btn"
                    ui-sref="app.imagenes({id: atractivo[0].id})">
              <i class="ion ion-image"></i>
            </button>
            <p class="atractivoDetail__boxBtns__span">Galería</p>
          </div>
          <div class="col text-center">
            <button class="button button-calm atractivoDetail__boxBtns__btn">
              <i class="ion ion-social-youtube-outline"></i>
            </button>
            <p class="atractivoDetail__boxBtns__span">Videos</p>
          </div>
          <div class="col text-center">
            <button ng-click='openModal()' class="button button-calm atractivoDetail__boxBtns__btn">
              <i class="ion ion-android-share-alt"></i>
            </button>
            <p class="atractivoDetail__boxBtns__span">Compartir</p>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="atractivo[0].descripcion != '' " class="atractivoDetail__boxDescription">
      <p class="atractivoDetail__boxDescription__text">
        {{atractivo[0].descripcion}}
      </p>
      <a class="atractivoDetail__boxDescription__ancla" ui-sref="app.descripcion({id: atractivo[0].id})">
        Leer Más <i class="ion ion-arrow-graph-up-right"></i>
      </a>
    </div>


    <div class="card atractivoDetail__boxCompartir__btn" style="margin: 13px 8px 0px 8px"
         ui-sref="app.mapa({ lat: atractivo[0].latitud, long:atractivo[0].longitud,name:atractivo[0].nombre })">
      <div class="item item-text-wrap" style="padding: 7px">
        <div class="row padding__none">
          <div class="col text-right">
            <i class="ion ion-ios-location atractivoDetail__boxCompartir__icono"></i>
          </div>
          <div class="col col-75 text-left atractivoDetail__boxCompartir__text">
            Ver ubicación en el mapa
          </div>
        </div>
      </div>
    </div>

    <div class="atractivoDetail__boxPaquetes" ng-if="paquetes[0].length > 0 ">
      <div class="atractivoDetail__boxPaquetes__header">
        <h3 class="atractivoDetail__boxPaquetes__header__text">
         Paquetes de viajes recomendados
        </h3>
        <a class="atractivoDetail__boxPaquetes__header__ancla" ui-sref="app.paquetes_by_atractivo({id: atractivo[0].id})">
          Ver Todo <i class="ion ion-arrow-graph-up-right"></i>
        </a>
      </div>
      <div class="atractivoDetail__boxPaquetes__content">

        <div class="atractivoDetail__boxPaquetes__item" ng-repeat="item in paquetes[0]">
          <a ui-sref="app.paquete_detalle({ id: item.id })">
            <img class="atractivoDetail__boxPaquetes__item__img"
                 src="http://{{dominio_img}}/{{item.portada}}" alt="">
            <div class="atractivoDetail__boxPaquetes__item__boxName">
              <h4 class="atractivoDetail__boxPaquetes__item__name">
                {{item.nombre_paquete}}
              </h4>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="atractivoDetail__boxAnotation text-center">
      <h4 class="text-center">¿ Estás listo(a) para conocer ?</h4>
      <button class="button button-calm bold" style="width: 90%" ui-sref="app.recomendacion({id: atractivo[0].id})">
        Recomendaciones <i class="ios ion-android-open"></i>
      </button>
    </div>



    <div class="" style="display: none">
      <div class="item item-body">
        <div class="caja-img-vid-map">
          <div class="boxBtnsAtractivo">
            <a href="#/app/mapa/{{atractivo.lat}}/{{atractivo.long}}" class="button button-calm btnsAtractivo">
              <i class="ion ion-ios-location"></i>
            </a>
            <h4 class="textBtnsAtractivo">Ubicacion</h4>
          </div>
          <div class="boxBtnsAtractivo">
            <a href="#/app/imagenes/{{atractivo.id}}" class="button button-calm btnsAtractivo">
              <i class="ion ion-image"></i>
            </a>
            <h4 class="textBtnsAtractivo">Galería</h4>
          </div>
          <div class="boxBtnsAtractivo">
            <a href="#/app/videos/{{atractivo.id}}" class="button button-calm btnsAtractivo">
              <i class="ion ion-social-youtube"></i>
            </a>
            <h4 class="textBtnsAtractivo">Video</h4>
          </div>
          <div class="boxBtnsAtractivo">
            <a ng-click="shareAnywhere()" class="button button-calm btnsAtractivo">
              <i class="ion ion-android-share-alt"></i>
            </a>
            <h4 class="textBtnsAtractivo">Compartir</h4>
          </div>
          <button  class="button button-positive" ng-click="openModal()">
            <span class="share-button">Share</span>
          </button>

        </div>
      </div>

      <div style="text-align: center">
        <div class="informacion tipo-informacion activo" ng-click="informacion()">
          <span>Información</span>
        </div>
        <div class="descripcion tipo-informacion" ng-click="descripcion()">
          <span>Descripción</span>
        </div>

      </div>

      <div class="content-descripcion padding">
        <p class="contentDetalle__textDescription">
          {{atractivo.descripcion}}
        </p>
      </div>

      <div class="content-informacion card contentDetalle">
        <div class="item item-divider titu-da-ge">
          <i class="ion-ios-information" style="margin-right: 0.5rem"></i> Características
        </div>
        <div class="item item-text-wrap">
          <div style="width: 100%">
            <h3 style="display: inline-block; width: 30%">Categoría: </h3><span>{{atractivo.categoria}}</span>
          </div>
          <div style="width: 100%">
            <h3 style="display: inline-block; width: 30%">Tipo: </h3><span>{{atractivo.tipo}}</span>
          </div>
          <div style="width: 100%">
            <h3 style="display: inline-block; width: 30%">Sub-tipo: </h3><span>{{atractivo.subtipo}}</span>
          </div>
        </div>
        <div class="item item-divider titu-da-ge">
          <i class="ion-ios-information" style="margin-right: 0.5rem"></i> Ubicación geográfica
        </div>
        <div class="item item-text-wrap">
          <div style="width: 100%">
            <h3 style="display: inline-block; width: 35%">Departamento: </h3><span>{{atractivo.departamento}}</span>
          </div>
          <div style="width: 100%">
            <h3 style="display: inline-block; width: 35%">Provincia: </h3><span>{{atractivo.provincia}}</span>
          </div>
          <div style="width: 100%">
            <h3 style="display: inline-block; width: 35%">Distrito: </h3><span>{{atractivo.distrito}}</span>
          </div>
        </div>


        <div class="item item-divider titu-da-ge">
          <i class="ion-ios-information" style="margin-right: 0.5rem"></i> Horario de Atencion
        </div>
        <div class="item item-text-wrap">
          <span>{{atractivo.horario}}</span>
        </div>

        <div class="item item-divider titu-da-ge">
          <i class="ion-ios-information" style="margin-right: 0.5rem"></i> Tipo de Ingreso
        </div>
        <div class="item item-text-wrap">
                <span>
                  {{atractivo.ingreso}}
                </span>
        </div>

        <div class="item item-divider titu-da-ge">
          <i class="ion-ios-information" style="margin-right: 0.5rem"></i> Estado
        </div>
        <div class="item item-text-wrap">
                <span>
                  {{atractivo.estado}}
                </span>
        </div>
        <div class="item item-divider titu-da-ge">
          <i class="ion-ios-information" style="margin-right: 0.5rem"></i> Actividades dentro el Atractivo
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="header-tr col-50">Actividad</div>
            <div class="header-tr col-50">Logo</div>
          </div>
          <div class="row" ng-repeat="actividad in atractivo.actividades">
            <div class="body-tr col-50">{{actividad.actividad}}</div>
            <div class="body-tr-icon col-50"><i class="ion {{actividad.icono}}"></i></div>
          </div>
        </div>

        <div class="item item-divider titu-da-ge">
          <i class="ion-ios-information" style="margin-right: 0.5rem"></i> Ruta de Acceso
        </div>
        <div class="item item-text-wrap">
          <ion-scroll direction="xy" style="overflow: scroll; white-space: nowrap">
            <div class="row">
              <div class="header-tr col-40">Tramo</div>
              <div class="header-tr col-40">Acceso</div>
              <div class="header-tr col-40">Medio de Transporte</div>
              <div class="header-tr col-40">Vía de Acceso</div>
              <div class="header-tr col-40">Distancia / Tiempo</div>
            </div>
            <div class="row" ng-repeat="ruta in atractivo.rutas">
              <div class="body-tr col-40">
                {{ruta.tramo}}
              </div>
              <div class="body-tr col-40">
                {{ruta.acceso}}
              </div>
              <div class="body-tr col-40">
                {{ruta.medio}}
              </div>
              <div class="body-tr col-40">
                {{ruta.via}}
              </div>
              <div class="body-tr col-40">
                {{ruta.tiempo}}
              </div>
            </div>
          </ion-scroll>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>

