<ion-view view-title="Detalle atractivo">
  <ion-content>
    <div class="atractivoDetail__boxHeader">
      <div class="atractivoDetail__boxPortada">
        <h4 class="atractivoDetail__titleLugar">
          {{atractivo[0].nombre}}
        </h4>
        <img class="atractivoDetail__imgPortada" src="http://{{dominio_img}}/{{atractivo[0].url_imagen}}">
      </div>
    </div>
    <div>
      <div class="card contentDetalle">
        <p class="contentDetalle__textDescription">
          {{atractivo[0].descripcion}}
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>

