<ion-view view-title="Descripción atractivo">
  <ion-content>
    <div class="atractivoDetail__boxHeaderDescripcion">
      <div class="atractivoDetail__boxPortada">
        <h4 class="atractivoDetail__titleLugar">
          {{atractivo[0].nombre}}
        </h4>
        <img class="atractivoDetail__imgPortada" src="http://{{dominio_img}}/{{atractivo[0].url_imagen}}">
      </div>
    </div>
    <div>
      <div class="card contentDetalle" style="margin-top: 0rem">
        <div class="item item-text-wrap">
          <p class="contentDetalle__textDescription">
            {{atractivo[0].descripcion}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

