<ion-view view-title="Descripción del atractivo">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <h4 class="text-center">Para poder visitar :</h4>
        <h2 class="text-center">{{atractivo[0].nombre}}</h2>
        <h4 class="text-center">toma en cuenta lo siguiente !</h4>
      </div>
    </div>

    <div>
      <div class="item item-divider titu-da-ge">
        <i class="ion-ios-information mr_0_5r"></i> Consejos útiles
      </div>
      <div class="item item-text-wrap">
        <div ng-if="consejos[0].length > 0">
          <div ng-repeat="item in consejos[0]">
            <p class="detalleItinerario__lugarName">
              <i class="ion ion-ios-checkmark-outline"></i> {{item.nombre}}
            </p>
          </div>
        </div>
        <div ng-if="consejos[0].length == 0">
          <p>Sin especificar...</p>
        </div>
      </div>
    </div>

    <div>
      <div class="item item-divider titu-da-ge">
        <i class="ion-ios-information mr_0_5r"></i> Gastos a tomar en cuenta
      </div>
      <div class="item item-text-wrap">
        <div ng-if="gastos[0].length > 0">
          <div ng-repeat="item in gastos[0]">
            <div class="row">
              <div class="col col-75">
                <p class="detalleItinerario__lugarName">
                  <i class="ion ion-ios-checkmark-outline"></i> {{item.nombre}}
                </p>
              </div>
              <div class="col-25">
                <p class="detalleItinerario__lugarName">S/.{{item.precio}} </p>
              </div>
            </div>

          </div>
        </div>
        <div ng-if="gastos[0].length == 0">
          <p>Sin especificar...</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

