<ion-view view-title="Agencia">
  <ion-content>
    <div class="atractivoDetail__boxHeaderAgencia">
      <div class="atractivoDetail__boxPortada">
        <h4 class="atractivoDetail__titleAgencia">
          {{agencia[0].nombre}}
        </h4>
        <img class="home__boxSlider__slider__img"
             src="http://{{dominio_img}}/{{agencia[0].url_imagen}}">
      </div>
    </div>

    <div class="atractivoDetail__boxPaquetes" ng-if="paquetes[0].length > 0 ">
      <div class="atractivoDetail__boxPaquetes__header">
        <h3 class="atractivoDetail__boxPaquetes__header__text">
          Top Paquetes Turísticos
        </h3>
        <a class="atractivoDetail__boxPaquetes__header__ancla" href="">Ver Todo</a>
      </div>
      <div class="atractivoDetail__boxPaquetes__content">
        <div class="atractivoDetail__boxPaquetes__item" ng-repeat="item in paquetes[0]">
          <a href="">
            <img class="atractivoDetail__boxPaquetes__item__img"
                 src="http://{{dominio_img}}/{{item.portada}}" alt="">
            <div class="atractivoDetail__boxPaquetes__item__boxName">
              <h4 class="atractivoDetail__boxPaquetes__item__name">
                {{item.nombre_paquete}}
              </h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div>
      <div class="card contentDetalle">
        <div class="item item-divider titu-da-ge">
          <i class="ion-ios-information mr_0_5r"></i> Horario de Atencion
        </div>
        <div class="item item-text-wrap">
          <span>todo el día de 8 am  a 1 pm</span>
          <span ng-if="agencia[0].nombre == '' ">Sin especificar.</span>
          <div class="card atractivoDetail__boxCompartir__btn" style="margin: 13px 8px 0px 8px"
               ui-sref="app.mapa({ lat: atractivo[0].latitud, long:atractivo[0].longitud,name:atractivo[0].nombre })">
            <div class="item item-text-wrap" style="padding: 7px">
              <div class="row padding__none">
                <div class="col text-right">
                  <i class="ion ion-ios-location atractivoDetail__boxCompartir__icono"></i>
                </div>
                <div class="col col-75 text-left atractivoDetail__boxCompartir__text">
                  Ver ubicación en el mapa
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="redes[0].length > 0 " >
          <div class="item item-divider titu-da-ge" >
            <i class="ion-ios-information mr_0_5r"></i> Contacto
          </div>
          <div class="item item-text-wrap">
            <div class="agencia__detalle__boxRedes">
              <div ng-repeat="item in redes[0]">
                <a ng-if="item.abr =='facebook'" ng-click="open_link($event)" target="_system" href="{{item.value_contact}}" class="agencia__detalle__linkRed">
                  <p>
                    <i class="ion ion-social-facebook agencia__detalle__linkRed__icon"></i>
                        <span class="agencia__detalle__linkRed__red">
                          {{item.red_social}} <i class="ion ion-ios-redo-outline"></i>
                    </span>
                  </p>
                </a>
                <a ng-if="item.abr =='celular'" href="tel:{{item.value_contact}}" target="_blank" class="agencia__detalle__linkRed">
                  <p>
                    <i class="ion ion-android-phone-portrait agencia__detalle__linkRed__icon"></i>
                    <span class="agencia__detalle__linkRed__red">
                          {{item.value_contact}} <i class="ion ion-ios-redo-outline"></i>
                    </span>
                  </p>
                </a>
                <a ng-if="item.abr =='whatsapp'" href="whatsapp:{{item.value_contact}}" target="_blank" class="agencia__detalle__linkRed">
                  <p>
                    <i class="ion ion-social-whatsapp agencia__detalle__linkRed__icon"></i>
                    <span class="agencia__detalle__linkRed__red">
                          {{item.value_contact}} <i class="ion ion-ios-redo-outline"></i>
                    </span>
                  </p>
                </a>
                <a ng-if="item.abr =='correo'" href="mailto:{{item.value_contact}}" target="_blank" class="agencia__detalle__linkRed">
                  <p>
                    <i class="ion ion-email agencia__detalle__linkRed__icon"></i>
                    <span class="agencia__detalle__linkRed__red">
                          {{item.value_contact}} <i class="ion ion-ios-redo-outline"></i>
                    </span>
                  </p>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
