<ion-view view-title="Agencia">
  <ion-content>
    <div class="atractivoDetail__boxHeader">
      <div class="atractivoDetail__boxPortada">
        <h4 class="atractivoDetail__titleAgencia">
          {{agencia[0].nombre}}
        </h4>
        <img class="atractivoDetail__imgPortada"
             src="http://{{dominio_img}}/{{agencia[0].url_imagen}}">
      </div>
    </div>
    <div class="row atractivoDetail__boxBtnsAgencia">
      <div class="col text-center">
        <a class="button button-calm atractivoDetail__boxBtns__btn"
           href="#/app/atractivo/detalle/{{agencia[0].id}}">
          <i class="ion ion-information"></i>
        </a>
        <p class="atractivoDetail__boxBtns__span">Detalles</p>
      </div>
      <div class="col text-center">
        <a class="button button-calm atractivoDetail__boxBtns__btn" href="#/app/imagenes/{{agencia[0].id}}">
          <i class="ion ion-image"></i>
        </a>
        <p class="atractivoDetail__boxBtns__span">Galería</p>
      </div>
      <div class="col text-center">
        <button class="button button-calm atractivoDetail__boxBtns__btn">
          <i class="ion ion-social-youtube-outline"></i>
        </button>
        <p class="atractivoDetail__boxBtns__span">Videos</p>
      </div>
    </div>
    <div class="atractivoDetail__boxPaquetes" ng-if="paquetes[0].length > 0 ">
      <div class="atractivoDetail__boxPaquetes__header">
        <h3 class="atractivoDetail__boxPaquetes__header__text">
          Top Paquetes Turísticos
        </h3>
        <a class="atractivoDetail__boxPaquetes__header__ancla" href="">Ver Todo</a>
      </div>
      <div class="atractivoDetail__boxPaquetes__content">

        <div class="atractivoDetail__boxPaquetes__item" ng-repeat="item in paquetes[0]">
          <a href="">
            <img class="atractivoDetail__boxPaquetes__item__img"
                 src="http://{{dominio_img}}/{{item.portada}}" alt="">
            <div class="atractivoDetail__boxPaquetes__item__boxPrecio">
              <h4 class="atractivoDetail__boxPaquetes__item__name">
                S/.{{item.precio}}
              </h4>
            </div>
            <div class="atractivoDetail__boxPaquetes__item__boxName">
              <h4 class="atractivoDetail__boxPaquetes__item__name">
                {{item.nombre_paquete}}
              </h4>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="card contentDetalle">
        <div class="item item-divider titu-da-ge">
          <i class="ion-ios-information mr_0_5r"></i> Horario de Atencion
        </div>
        <div class="item item-text-wrap">
          <span>{{agencia[0].nombre}}</span>
          <span ng-if="agencia[0].nombre == '' ">Sin especificar.</span>
        </div>
        <div ng-if="redes[0].length > 0 " >
          <div class="item item-divider titu-da-ge" >
            <i class="ion-ios-information mr_0_5r"></i> Contacto
          </div>
          <div class="item item-text-wrap">
            <div class="agencia__detalle__boxRedes">
              <div ng-repeat="item in redes[0]">
                <a ng-if="item.abr =='facebook'" ng-click="open_link($event)" target="_system" href="{{item.value_contact}}" class="agencia__detalle__linkRed">
                  <p>
                    <i class="ion ion-social-facebook agencia__detalle__linkRed__icon"></i>
                        <span class="agencia__detalle__linkRed__red">
                          {{item.red_social}} <i class="ion ion-ios-redo-outline"></i>
                    </span>
                  </p>
                </a>
                <a ng-if="item.abr =='celular'" href="tel:{{item.value_contact}}" target="_blank" class="agencia__detalle__linkRed">
                  <p>
                    <i class="ion ion-android-phone-portrait agencia__detalle__linkRed__icon"></i>
                    <span class="agencia__detalle__linkRed__red">
                          {{item.value_contact}} <i class="ion ion-ios-redo-outline"></i>
                    </span>
                  </p>
                </a>
                <a ng-if="item.abr =='whatsapp'" href="whatsapp:{{item.value_contact}}" target="_blank" class="agencia__detalle__linkRed">
                  <p>
                    <i class="ion ion-social-whatsapp agencia__detalle__linkRed__icon"></i>
                    <span class="agencia__detalle__linkRed__red">
                          {{item.value_contact}} <i class="ion ion-ios-redo-outline"></i>
                    </span>
                  </p>
                </a>
                <a ng-if="item.abr =='correo'" href="mailto:{{item.value_contact}}" target="_blank" class="agencia__detalle__linkRed">
                  <p>
                    <i class="ion ion-email agencia__detalle__linkRed__icon"></i>
                    <span class="agencia__detalle__linkRed__red">
                          {{item.value_contact}} <i class="ion ion-ios-redo-outline"></i>
                    </span>
                  </p>
                </a>

              </div>
            </div>
          </div>
        </div>



      </div>
    </div>


  </ion-content>
</ion-view>
