<ion-view view-title="Galeria">
  <div ng-if="atractivo[0].length > 0 ">
    <ion-content>
      <ion-slides options="data.sliderOptions" slider="data.sliderDelegate" class="galery__boxSlide">
        <ion-slide-page ng-repeat="image in atractivo[0]">
          <div class="box">
            <img src="http://{{dominio_img}}/{{image.url_imagen}}" alt="images atractivos" class="galery__img">
            <p class="galery__description">{{image.descripcion}}</p>
          </div>
        </ion-slide-page>
      </ion-slides>
    </ion-content>
  </div>

  <div ng-if="atractivo[0].length == 0 ">
    <ion-content>
      <img src="img/not_found_img.png" alt="" class="galery__imgEmpty">
      <p class="galery__textEmpty">No se encontró la imágen</p>
      <p class="galery__textEmpty">...</p>
    </ion-content>
  </div>
  </div>
</ion-view>
