<ion-view view-title="Galeria">
  <ion-content>

    <ion-slide-box>

      <ion-slide ng-repeat="image in atractivo.imagenes">
        <div class="container" ng-if="slideVisible($index)" class="scrollCanvas">
          <ion-scroll class="scrollCanvas" zooming="true" min-zoom="1" direction="xy" locked="false">
            <div class="image" style="width: 100%;">
              <div ng-if="image.url == '' ">
                <img src="img/image_not_found.png" alt="" style="width: 100% ; height: 280px; margin-top: 6rem">
              </div>
              <div ng-if="image.url != '' ">
                <img src="{{image.url}}" alt="" style="width: 100% ; height: 280px; margin-top: 6rem">
              </div>

            </div>
          </ion-scroll>

        </div>
        <!-- añadimos un espacio vacio para evitar problemas con slidebox y las diapositivas ocultas. Ver post dedicado a SlideBox para más información. -->
        <div>&nbsp;</div>

      </ion-slide>

    </ion-slide-box>


  </ion-content>
</ion-view>
