<ion-view view-title="Login">
  <ion-content class="body-login">
    <div class="box-avatar">
      <figure>
        <img src="img/avatar5.png" alt="" style="width: 115px">
      </figure>
    </div>

    <div>
      <form ng-submit="doLogin()">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-ios-email placeholder-icon login__inputIcon"></i>
            <input class="login__input" type="email" id="username" placeholder="Correo electrónico" ng-model="loginData.username">
          </label>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-ios-locked placeholder-icon login__inputIcon"></i>
            <input class="login__input" type="password" id="password" placeholder="Contraseña" ng-model="loginData.password">
          </label>
        </div>
        <div class="list">
          <label class="formulario item">
            <button class="button button-block button-positive login__btnIniciarSesion" type="submit">
              <i class="ion ion-log-in"></i> Iniciar Sesion
            </button>
          </label>
        </div>
      </form>
    </div>
    <div class="list">
      <label class="formulario item">
        <h3 class="text-center">¿ Aún no tienes una cuenta ?</h3>
        <button class="button button-block button-positive login__btnRegitrarse" type="submit">
          <i class="ion ion-android-create"></i> Regístrate
        </button>
      </label>
    </div>

  </ion-content>
</ion-view>
