<ion-view view-title="Login">
  <ion-content class="body-login">
    <div class="box-avatar">
      <figure>
        <img src="img/avatar5.png" alt="" width="150" height="150">
      </figure>
    </div>

    <div>
      <form ng-submit="doLogin()">
        <div class="list">
          <label class="formulario item item-input">
            <span class="input-label"><i class="icon ion-person"></i></span>
            <input type="text" id="username" placeholder="Usuario" ng-model="loginData.username">
          </label>
          <label class="formulario item item-input">
            <span class="input-label"><i class="icon ion-ios-locked"></i></span>
            <input type="password" id="password" placeholder="Contraseña" ng-model="loginData.password">
          </label>
          <label class="formulario item">
            <button class="button button-block button-positive" type="submit"><i class="ion ion-log-in" style="padding-right: .5rem"></i>Iniciar Sesion</button>
          </label>
        </div>
      </form>
    </div>
    <div style="text-align: center; cursor: pointer;">
      <!--<a class="registrarse" ng-click="registrarse()">-->
        <!--Registrarse-->
      <!--</a>-->
    </div>

  </ion-content>
</ion-view>
