<ion-view view-title="Registrarse">
  <ion-content class="body-login">
    <div class="card">
      <h3 class="text-center">Complete el formulario</h3>
      <form name="formRegister" ng-submit="doRegister()">
        <label class="item item-input item-stacked-label">
          <span class="input-label login__input bold">Nombres:</span>
          <input class="login__input" type="text" name="names" placeholder="Nombres completos" ng-model="RegisterData.name" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label login__input bold">Apellidos: </span>
          <input class="login__input" type="text" placeholder="Apellidos completos" ng-model="RegisterData.surname" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label login__input bold">Correo electrónico:</span>
          <input class="login__input" type="email" placeholder="Correo electrónico" ng-model="RegisterData.email"
                 required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label login__input bold">Contraseña:</span>
          <input class="login__input" type="password" placeholder="Contraseña" ng-model="RegisterData.password"
                 required>
        </label>
        <div class="list">
          <h5 class="text-center alert_form_message" ng-if="formRegister.$valid == false">
            ¡Todos los campos son requeridos!
          </h5>
          <label class="formulario item">
            <button class="button button-block button-positive login__btnIniciarSesion" type="submit" required>
              <i class="ion ion-log-in"></i> Registrarse
            </button>
          </label>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
