<ion-view view-title="Video">
  <ion-content>
    <ion-list>

      <div class="card">
        <ion-item>
          <div class="video-container">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fnomadasdelperu%2Fvideos%2F1760527284162079%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div>
        </ion-item>
      </div>
      <div class="card">
        <ion-item>
          <div class="video-container">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fnomadasdelperu%2Fvideos%2F1804420476439426%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div>
        </ion-item>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
