<ion-view view-title="Acerca de">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="item item-divider titu-da-ge">
          <i class="ion ion-ios-information" style="margin-right: 0.5rem"></i>  Versión
        </div>
        <div class="item item-text-wrap">
                <span>
                    Versión 0.0.1
                </span>
        </div>
        <div class="item item-divider titu-da-ge">
          <i class="ion ion-ios-information" style="margin-right: 0.5rem"></i>  Diseño y Desarrollo
        </div>
        <div class="item item-text-wrap">
                <span>
                    Kevin Anthony Tananta Del Aguila
                </span><br>
                <span style="font-weight: 500">
                    ( kevintananta96@gmail.com )
                </span>
        </div>

      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-calm bg-azul">
    <div class="title" style="font-size: 1rem">Copiright© 2017 ALL RIGHTS RESERVED </div>
  </div>
</ion-view>
