<ion-view view-title="Agencias de Turismo">
  <ion-content>
    <div class="agencia__content">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Buscar paquete turístico" ng-model="buscar">
        </label>
      </div>
      <div class="list card agencia__item" ng-repeat="item in resultados =( agencias[0] | filter: buscar)">
        <a ui-sref="app.agencia({ id: item.id })" style="text-decoration: none">
          <div class="item item-image agencia__item__boxImg">
            <img class="agencia__item__boxImg__img"
              src="http://{{dominio_img}}/{{item.url_imagen}}" >
          </div>
          <div class="agencia__item__boxtext">
            <h2 class="agencia__item__boxtext__name">
              {{item.nombre}}
            </h2>
            <div class="agencia__item__boxtext__boxLike">
              <i class="ion-ios-star agencia__item__boxtext__likes"></i>
              <span class="agencia__item__boxtext__number">12332</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card" ng-if="!resultados.length">
        <div class="item item-text-wrap">
          <strong>No se encontraron resultados...</strong>
        </div>
      </div>
    </div>
    <div ng-if="agencias[0].length ==  0 ">
      <div class="item item-text-wrap">
        <strong>No se encontraron resultados...</strong>
      </div>
    </div>
  </ion-content>
</ion-view>
