<ion-view view-title="Atractivos Turísticos">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="box-atractivo">
      <div class="bar bar-header item-input-inset">
        <div class="row padding__none">
        <label class="item-input-wrapper labelSearch col col-90">
          <i class="icon ion-ios-search placeholder-icon labelSearch__icon"></i>
          <input type="text" placeholder="Buscar atractivo" ng-model="busqueda" >
        </label>
        <button class="col col-10 btnRefresh" data-ng-click="busqueda = '' "><i class="ion ion-ios-close-empty"></i></button>
          <button class="col col-10 btnFilter" ng-click="btnFilter()"><i class="ion ion-ios-settings-strong"></i></button>
        </div>
      </div>
      {{name_filter}}
      <div ng-if="atractivos[0].length > 0 ">
        <div class="box-content" ng-repeat="atractivo in resultados =( atractivos[0] | filter: busqueda)">
          <a class="ancla-atractivo" ui-sref="app.atractivo({id: atractivo.atractivo_id})">
            <!--<img class="img-atractivo" src="img/ahuashiyacu/1.jpg" alt="img_atractivo">-->
            <img class="img-atractivo" src="http://{{dominio_img}}/{{atractivo.foto}}" alt="img_atractivo">
            <!--<img class="img-atractivo" src="http://voydeviaje.info/dist/atractivos/1518197689.jpg" alt="img_atractivo">-->
            <h4 class="nombre-atractivo bold">{{atractivo.atractivo}}</h4>
            <h5 class="ubicacion-atractivo light">{{atractivo.categoria}}</h5>
          </a>
        </div>
        <div class="card" ng-if="!resultados.length">
          <div class="item item-text-wrap">
            <strong>No se encontraron resultados...</strong>
          </div>
        </div>
      </div>
      <div class="card" ng-if="atractivos[0].length ==  0 ">
        <div class="item item-text-wrap">
          <strong>No se encontraron resultados...</strong>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
