<ion-view view-title="Teléfonos de Emergencia">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="box-emergencia row">
          <h2 class="cont_emer col-80" style="width:100%">
            Comisaría Tarapoto
            <br><br><span style="font-weight: bold">042522141</span>
          </h2>
          <a href="tel:042522141" target="_blank" class="cont_emer  col-10">
            <button class="button button-positive" style="border-radius: 150%">
              <i class="ion ion-android-call"></i>
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="item item-text-wrap">
          <div class="box-emergencia row">
            <h2 class="cont_emer col-80" style="width:100%">
               Serenazgo Tarapoto
              <br><br><span style="font-weight: bold">042524413</span>
            </h2>
            <a href="tel:042524413" target="_blank" class="cont_emer  col-10">
              <button class="button button-positive" style="border-radius: 150%">
                <i class="ion ion-android-call"></i>
              </button>
            </a>
          </div>
        </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <div class="box-emergencia row">
          <h2 class="cont_emer col-80" style="width:100%">
            Comisaría distrito Banda de Shilcayo - Tarapoto
            <br><br><span style="font-weight: bold">042522341</span>
          </h2>
          <a href="tel:042522341" target="_blank" class="cont_emer  col-10">
            <button class="button button-positive" style="border-radius: 150%">
              <i class="ion ion-android-call"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
          <div class="box-emergencia row">
            <h2 class="cont_emer col-80" style="width:100%">
            Comisaría distrito de Morales - Tarapoto
              <br><br><span style="font-weight: bold">042521582</span>
            </h2>
            <a href="tel:042521582" target="_blank" class="cont_emer  col-10">
              <button class="button button-positive" style="border-radius: 150%">
                <i class="ion ion-android-call"></i>
              </button>
            </a>
          </div>
        </div>
    </div>

    <div class="card">
        <div class="item item-text-wrap">
          <div class="box-emergencia row">
            <h2 class="cont_emer col-80" style="width:100%">
            Policía Nacional - Emergencias
              <br><br><span style="font-weight: bold">105</span>
            </h2>
            <a href="tel:105" target="_blank" class="cont_emer  col-10">
              <button class="button button-positive" style="border-radius: 150%">
                <i class="ion ion-android-call"></i>
              </button>
            </a>
          </div>
        </div>
    </div>

  </ion-content>
</ion-view>
