<ion-view view-title="Inicio">
  <ion-content>
    <div class="home__content">
      <div class="home__boxSlider">
        <h3>slider de atractivos</h3>
      </div>
      <div class="home__boxModulos">
        <div class="row text-center home__boxModulos__row">
          <div class="col text-center home__boxModulos__item">
            <a href="" class="home__boxModulos__item__ancla">
              <i class="ion ion-map home__boxModulos__item__icon"></i>
              <p class="home__boxModulos__item__name">Atractivos</p>
            </a>
          </div>
          <div class="col text-center home__boxModulos__item">
            <a href="" class="home__boxModulos__item__ancla">
              <i class="ion ion-android-bus home__boxModulos__item__icon"></i>
              <p class="home__boxModulos__item__name">Agencias</p>
            </a>
          </div>
          <div class="col text-center home__boxModulos__item">
            <a href="" class="home__boxModulos__item__ancla">
              <i class="ion ion-social-buffer home__boxModulos__item__icon"></i>
              <p class="home__boxModulos__item__name">Hoteles</p>
            </a>
          </div>
        </div>
        <div class="row text-center home__boxModulos__row">
          <div class="col text-center home__boxModulos__item">
            <a href="" class="home__boxModulos__item__ancla">
              <i class="ion ion-android-car home__boxModulos__item__icon"></i>
              <p class="home__boxModulos__item__name">Transporte</p>
            </a>
          </div>
          <div class="col text-center home__boxModulos__item">
            <a href="" class="home__boxModulos__item__ancla">
              <i class="ion ion-android-phone-portrait home__boxModulos__item__icon"></i>
              <p class="home__boxModulos__item__name">Emergencias</p>
            </a>
          </div>
          <div class="col text-center home__boxModulos__item">
            <a href="" class="home__boxModulos__item__ancla">
              <i class="ion ion-help home__boxModulos__item__icon"></i>
              <p class="home__boxModulos__item__name">Acerca de</p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
