<ion-view view-title="Inicio">
  <ion-content>
    <div class="home__content row row-wrap">
      <div class="col col-50 home__item" ui-sref="app.atractivos">
        <div class="home__item__divDark"></div>
        <img class="home__item__img"
             src="img/home/atractivo.jpg" alt="atractivos">
        <div class="home__item__boxName">
          <p class="home__item__boxName__name">
            Atractivos<br>turísticos
          </p>
        </div>
      </div>
      <div class="col col-50 home__item" ui-sref="app.atractivos">
        <div class="home__item__divDark"></div>
        <img class="home__item__img"
             src="img/home/lugares.jpg" alt="lugares">
        <div class="home__item__boxName">
          <p class="home__item__boxName__name">
            Lugares<br>recreativos
          </p>
        </div>
      </div>
      <div class="col col-50 home__item" ui-sref="app.atractivos">
        <div class="home__item__divDark"></div>
        <img class="home__item__img"
             src="img/home/hotel.jpg" alt="hoteles">
        <div class="home__item__boxName">
          <p class="home__item__boxName__name">
            Hoteles
          </p>
        </div>
      </div>
      <div class="col col-50 home__item" ui-sref="app.atractivos">
        <div class="home__item__divDark"></div>
        <img class="home__item__img"
             src="img/home/restaurante.jpg" alt="restaurantes">
        <div class="home__item__boxName">
          <p class="home__item__boxName__name">
            Comidas y <br>bebidas
          </p>
        </div>
      </div>
      <div class="col col-50 home__item" ui-sref="app.agencias">
        <div class="home__item__divDark"></div>
        <img class="home__item__img"
             src="img/home/agencia.jpg" alt="agencias">
        <div class="home__item__boxName">
          <p class="home__item__boxName__name">
            Agencias de <br> viajes
          </p>
        </div>
      </div>
      <div class="col col-50 home__item" ui-sref="app.paquetes">
        <div class="home__item__divDark"></div>
        <img class="home__item__img"
             src="img/home/paquete.jpg" alt="paquetes">
        <div class="home__item__boxName">
          <p class="home__item__boxName__name">
           Paquetes<br>turísticos
          </p>
        </div>
      </div>
      <div class="col col-50 home__item" ui-sref="app.evento">
        <div class="home__item__divDark"></div>
        <img class="home__item__img"
             src="img/home/fechas.jpg" alt="paquetes">
        <div class="home__item__boxName">
          <p class="home__item__boxName__name">
           Eventos<br>importantes
          </p>
        </div>
      </div>
      <div class="col col-50 home__item" ui-sref="app.galeria">
        <div class="home__item__divDark"></div>
        <img class="home__item__img"
             src="img/home/galerias.jpg" alt="paquetes">
        <div class="home__item__boxName">
          <p class="home__item__boxName__name">
           Galería de<br>fotos
          </p>
        </div>
      </div>




    </div>
  </ion-content>
</ion-view>

