<ion-view view-title="Servicio de Transporte">
  <ion-content>

    <div class="list card" ng-repeat="agencia in transportes">
      <a  ui-sref="app.transporte({id: $index})" style="text-decoration: none">
        <div class="item item-image">
          <img src="{{agencia.img}}" style="height: 170px">
        </div>
        <div class="item item-text-wrap">
          <h2 style="font-weight: bold">{{agencia.nombre}}</h2>
          <h4>{{agencia.lema}}</h4>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>

