<ion-view view-title="Buzón de Sugerencias">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <h3 class="sugerency__description">
          Estamos trabajando para brindarte una mejor información, para lo cual es importante contar con tu apoyo,
          ¿Cuál es tu sugerencia?
        </h3>
        <h3 class="sugerency__warning">
          Importante!!, antes debes iniciar sesión
        </h3>
        <form action="">
          <textarea class="sugerency__textArea" placeholder="Escribe aquí tu sugerencia" rows="15"></textarea>
          <label class="formulario item">
            <button class="button button-block button-positive login__btnIniciarSesion" type="submit" required>
              <i class="ion ion-android-send"></i> Enviar Sugerencia
            </button>
          </label>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
