<ion-view view-title="Buzón de Sugerencias">
  <ion-content>
    <div class="card">
      <h3 class="text-center">Enviar Sugerencia</h3>
      <div class="item item-text-wrap">
        <h3>
          Estamos trabajando para brindarte la mejor información, para lo cual es importante contar con tu apoyo,
          ¿Cuál es tu sugerencia?
        </h3>
        <form action="">
          <textarea class="sugerency__textArea" placeholder="Escribe aquí tu sugerencia" rows="10"></textarea>
          <label class="formulario item">
            <button class="button button-block button-positive login__btnIniciarSesion" type="submit" required>
              <i class="ion ion-android-send"></i> Enviar
            </button>
          </label>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
