<ion-modal-view >
  <ion-content>
    <div class="galeria__modal">
      <div class="galeria__modal__boxReturn">
        <a ng-click="closeModal()" class="galeria__modal__boxReturn__ancla">
          <i class="ion ion-close-round"></i>  Cerrar
        </a>
        <a onclick="window.open('http://3.bp.blogspot.com/-XchURXRz-5c/U5ApPOrPM9I/AAAAAAAADoo/YZEj4qeSlqo/s1600/Final-Fantasy-XV-Noctis-Red-Eyes.png', '_system');" class="galeria__modal__boxReturn__ancla">
          <i class="ion ion-android-download"></i> Descargar
        </a>
      </div>
      <img class="galeria__modal__img"
           src="{{url_imagen}}" alt="">

      <h3 class="galeria__modal__name">
        descripcion de la foto
      </h3>
    </div>
  </ion-content>
</ion-modal-view>
