<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Compartir en :</h1>
    <button style="font-size: 17px" class="button button-light"  ng-click="closeModal()">
      <i class="ion ion-close"></i>
    </button>
  </ion-header-bar>
  <ion-content>
      <div class="row row-wrap share__boxItems">
        <div class="col col-33 text-center" data-ng-click='shareFacebook(atractivo[0].nombre)' >
          <img class="share__img" src="img/log/facebook.png" alt="">
          <p class="share-button">Facebook</p>
        </div>
        <div class="col col-33 text-center" data-ng-click='shareFacebook(atractivo[0].nombre)' >
          <img class="share__img" src="img/log/messenger.png" alt="">
          <p class="share-button">Messenger</p>
        </div>
        <div class="col col-33 text-center" data-ng-click='shareFacebook(atractivo[0].nombre)' >
          <img class="share__img" src="img/log/whatsapp.png" alt="">
          <p class="share-button">Whatsapp</p>
        </div>
        <div class="col col-33 text-center" data-ng-click='shareFacebook(atractivo[0].nombre)' >
          <img class="share__img" src="img/log/instagram.png" alt="">
          <p class="share-button">Instagram</p>
        </div>

      <!--<button onclick="window.plugins.socialsharing.shareViaFacebookWithPasteMessageHint('Message via Facebook', null /* img */, null /* url */, 'Paste it dude!', function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via Facebook (with errcallback)</button>-->
      <!--<button onclick="window.plugins.socialsharing.shareViaInstagram('Message via Instagram', null, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via Instagram</button>-->
      <!--<button onclick="window.plugins.socialsharing.shareViaWhatsApp('Message via WhatsApp', null /* img */, null /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">msg via WhatsApp (with errcallback)</button>-->
      <!--<button onclick="window.plugins.socialsharing.shareVia('com.facebook.orca', 'The message', null, null, 'https://www.google.com/', function () { console.log('share ok') }, function (errormsg) { alert(errormsg) });">msg via messenger (with errcallback)</button>-->
    </div>
  </ion-content>
</ion-modal-view>

