
$colorCalm = #11c1f3


//$green = #1AB696
$green = #3ab7b8
$cenizoClaro = #575757
$cenizoLight = #9a9a9a
$yellowStar = #ffc900


$greyLight = #F5F5F5
$blancoCenizo = #f8f8f8
$calm = #11c1f3
$morado = #886aea
$dark = #444

$azulOscuro = #2E3C50
