

// css para la vista del detalle del atractivo turistico
.boxBtnsAtractivo
  display inline-block
  margin .5rem
.btnsAtractivo
  border-radius 150%
  border-radius 1px solid $colorCalm
.textBtnsAtractivo
  margin-top .5rem
  color grey

.contentDetalle
  box-shadow none !important
  margin-left 0rem
  margin-right 0rem
  &__textDescription
    text-align justify
    line-height 25px
    padding-top 10px
    margin-left 7px
    margin-right 10px
    padding-bottom 10px


//utils. rename css for modal ionic

.modal-backdrop, .modal-backdrop-bg
  top: 60%
