.offline {
  display: inline-block;
  text-align: center;
  height: 90%;
}
.offline__boxImage {
  padding: 90px 35px 0px 35px;
}
.offline__image {
  height: 170px;
  width: 70%;
}
.offline__textUpps {
  font-weight: bold;
  font-size: 18px;
}
.offline__text {
  font-size: 16px;
}
.bg-green {
  background: #3ab7b8 !important;
  color: #fff;
  border-color: #3ab7b8 !important;
}
.bg-azul {
  background: #2e3c50 !important;
  color: #fff;
  border-color: #2e3c50 !important;
}
.mr_0_5r {
  margin-right: 0.5rem;
}
.box1,
.box2,
.box3 {
  height: 100%;
}
.boxBtnsAtractivo {
  display: inline-block;
  margin: 0.5rem;
}
.btnsAtractivo {
  border-radius: 150%;
  border-radius: 1px solid #11c1f3;
}
.textBtnsAtractivo {
  margin-top: 0.5rem;
  color: #808080;
}
.contentDetalle {
  box-shadow: none !important;
  margin-left: 0rem;
  margin-right: 0rem;
}
.contentDetalle__textDescription {
  text-align: justify;
  line-height: 25px;
  padding-top: 10px;
  margin-left: 7px;
  margin-right: 10px;
  padding-bottom: 10px;
}
.modal-backdrop,
.modal-backdrop-bg {
  top: 60%;
}
body {
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}
.home__content {
  height: 100%;
}
.home__boxSlider {
  display: block;
  height: 50%;
}
.home__boxSlider__slider {
  height: 100%;
}
.home__boxSlider__slider__boxImg {
  height: 100%;
  text-align: center;
}
.home__boxSlider__slider__text {
  width: 100%;
  position: absolute;
  top: 20%;
  z-index: 3000;
  text-align: center;
  color: #fff;
  padding: 0px 10px;
  font-size: 20px;
}
.home__boxSlider__slider__img {
  filter: brightness(0.6);
  width: 100%;
  height: 100%;
}
.home__boxModulos {
  height: 50%;
  display: block;
}
.home__boxModulos__row {
  height: 50%;
  padding-top: 40px !important;
}
.home__boxModulos__item__ancla {
  text-decoration: none;
}
.home__boxModulos__item__icon {
  color: #3ab7b8;
  font-size: 45px;
}
.home__boxModulos__item__name {
  color: #2e3c50;
  font-size: 15px;
  font-weight: bold;
}
.atractivoDetail__boxHeader {
  display: block;
  height: 50%;
}
.atractivoDetail__titleLugar {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  position: absolute;
  top: 20%;
  z-index: 1000;
  color: #fff;
  padding: 0px 25px;
  width: 100%;
}
.atractivoDetail__boxPortada {
  height: 100%;
}
.atractivoDetail__imgPortada {
  filter: brightness(0.6);
  width: 100%;
  height: 100%;
}
.atractivoDetail__boxBtns {
  position: absolute;
  top: 45%;
  z-index: 1000;
}
.atractivoDetail__boxBtns__btn {
  border-radius: 50%;
  font-size: 23px;
  background: #2e3c50 !important;
  box-shadow: 0px 6px rgba(0,0,0,0.1);
}
.atractivoDetail__boxBtns__span {
  font-size: 12px;
  color: #575757;
}
.atractivoDetail__boxDescription {
  margin-top: 15px;
  padding: 0px 10px;
  text-align: center;
}
.atractivoDetail__boxDescription__text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
  color: #575757;
}
.atractivoDetail__boxDescription__ancla {
  color: #3ab7b8;
  font-weight: bold;
  text-decoration: none;
}
.atractivoDetail__boxCompartir {
  margin-top: 60px;
  padding: 0px 15px;
}
.atractivoDetail__boxCompartir__btn {
  border-radius: 5px;
  border: 1px dashed #575757;
  color: #fff;
}
.atractivoDetail__boxCompartir__ancla {
  text-decoration: none;
}
.atractivoDetail__boxCompartir__icono {
  margin-right: 7px;
  font-size: 21px;
  color: #3ab7b8;
}
.atractivoDetail__boxCompartir__text {
  color: #575757;
}
.emergency__btn {
  background: #2e3c50;
  border-radius: 150%;
  font-size: 30px;
  color: #fff;
  box-shadow: 2px 3px rgba(0,0,0,0.2);
}
.galery__boxSlide {
  background: rgba(0,0,0,0.949);
}
.galery__img {
  width: 100%;
  height: 300px !important;
  margin-top: 5rem;
}
.galery__imgEmpty {
  width: 100%;
  height: 240px !important;
  margin-top: 5rem;
}
.galery__textEmpty {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #a9a9a9;
  font-size: 16px;
}
.galery__description {
  color: #fff;
  padding: 0px 15px;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}
.galeria__content {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  text-align: left;
}
.galeria__item {
  display: inline-block;
  height: 33%;
  width: 49%;
  padding: 0.1rem;
  margin: 0rem;
}
.galeria__img {
  height: 100%;
  width: 100%;
}
.galeria__modal {
  background: #444;
  min-height: 100%;
  overflow-y: auto;
}
.galeria__modal__boxReturn {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
}
.galeria__modal__boxReturn__ancla {
  font-size: 18px;
  color: #fff;
}
.galeria__modal__img {
  margin-top: 5%;
  width: 100%;
  height: 360px;
}
.galeria__modal__name {
  font-size: 15px;
  color: #fff;
  padding: 0px 10px;
  text-align: center;
}
.modal-backdrop,
.modal-backdrop-bg {
  top: 0% !important;
}
