.offline {
  display: inline-block;
  text-align: center;
  height: 90%;
}
.offline__boxImage {
  padding: 90px 35px 0px 35px;
}
.offline__image {
  height: 170px;
  width: 70%;
}
.offline__textUpps {
  font-weight: bold;
  font-size: 18px;
}
.offline__text {
  font-size: 16px;
}
.bg-green {
  background: #3ab7b8 !important;
  color: #fff;
  border-color: #3ab7b8 !important;
}
.bg-azul {
  background: #2e3c50 !important;
  color: #fff;
  border-color: #2e3c50 !important;
}
.mr_0_5r {
  margin-right: 0.5rem;
}
.box1,
.box2,
.box3 {
  height: 100%;
}
.labelSearch {
  display: inline-flex;
  height: 35px;
  margin-right: 5px;
}
.labelSearch__icon {
  font-size: 18px;
  padding-right: 0px;
}
.padding__none {
  padding: 0rem !important;
}
.btnRefresh {
  font-size: 18px !important;
  background: #f8f8f8;
  border: 1px solid #eee;
}
.platform-android .bar .title {
  font-size: 21px !important;
  padding-top: 1px !important;
}
.loading-container.active {
  margin-top: 44px;
  background: #fff;
/*background-color: rgb(246, 246, 246) !important*/
}
.loading-container .loading {
  color: #444;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
}
.boxBtnsAtractivo {
  display: inline-block;
  margin: 0.5rem;
}
.btnsAtractivo {
  border-radius: 150%;
  border-radius: 1px solid #11c1f3;
}
.textBtnsAtractivo {
  margin-top: 0.5rem;
  color: #808080;
}
.contentDetalle {
  box-shadow: none !important;
  margin-left: 0rem;
  margin-right: 0rem;
}
.contentDetalle__textDescription {
  text-align: justify;
  line-height: 25px;
  padding-top: 10px;
  margin-left: 7px;
  margin-right: 10px;
  padding-bottom: 10px;
  font-size: 16px !important;
}
.modal-backdrop,
.modal-backdrop-bg {
  top: 60%;
}
.bg-green {
  background: #3ab7b8 !important;
  color: #fff;
  border-color: #3ab7b8 !important;
}
.bg-azul {
  background: #2e3c50 !important;
  color: #fff;
  border-color: #2e3c50 !important;
}
.mr_0_5r {
  margin-right: 0.5rem;
}
.box1,
.box2,
.box3 {
  height: 100%;
}
.labelSearch {
  display: inline-flex;
  height: 35px;
  margin-right: 5px;
}
.labelSearch__icon {
  font-size: 18px;
  padding-right: 0px;
}
.padding__none {
  padding: 0rem !important;
}
.btnRefresh {
  font-size: 18px !important;
  background: #f8f8f8;
  border: 1px solid #eee;
}
.platform-android .bar .title {
  font-size: 21px !important;
  padding-top: 1px !important;
}
.loading-container.active {
  margin-top: 44px;
  background: #fff;
/*background-color: rgb(246, 246, 246) !important*/
}
.loading-container .loading {
  color: #444;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
}
body {
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}
.home__content {
  height: 100%;
}
.home__boxSlider {
  display: block;
  height: 50%;
}
.home__boxSlider__slider {
  height: 100%;
}
.home__boxSlider__slider__boxImg {
  height: 100%;
  text-align: center;
}
.home__boxSlider__slider__text {
  width: 100%;
  position: absolute;
  top: 20%;
  z-index: 3000;
  text-align: center;
  color: #fff;
  padding: 0px 10px;
  font-size: 20px;
}
.home__boxSlider__slider__img {
  filter: brightness(0.6);
  width: 100%;
  height: 100%;
}
.home__boxModulos {
  height: 50%;
  display: block;
}
.home__boxModulos__row {
  height: 50%;
  padding-top: 40px !important;
}
.home__boxModulos__item__ancla {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.home__boxModulos__item__icon {
  color: #3ab7b8;
  font-size: 43px;
}
.home__boxModulos__item__name {
  color: #2e3c50;
  font-size: 16px;
  font-weight: bold;
}
.atractivoDetail__boxHeaderDescripcion {
  display: block;
  height: 50%;
}
.atractivoDetail__boxHeader {
  display: block;
  height: 50%;
  margin-bottom: 60px;
}
.atractivoDetail__boxHeaderAgencia {
  display: block;
  height: 40%;
  margin-bottom: 60px;
}
.atractivoDetail__titleLugar {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  position: absolute;
  top: 35%;
  z-index: 1000;
  color: #fff;
  padding: 0px 25px;
  width: 100%;
}
.atractivoDetail__titleAgencia {
  position: absolute;
  width: 100%;
  z-index: 1000;
  padding: 12px 20px;
  bottom: 0rem;
  margin: 0rem;
  font-size: 17px;
  text-align: left;
  color: #fff;
  background: rgba(0,0,0,0.8);
}
.atractivoDetail__boxPortada {
  position: relative;
  height: 100%;
}
.atractivoDetail__imgPortada {
  filter: brightness(0.6);
  width: 100%;
  height: 100%;
}
.atractivoDetail__boxBtns {
  position: absolute;
  top: 88%;
  z-index: 1000;
}
.atractivoDetail__boxBtns__btn {
  border-radius: 50%;
  font-size: 23px;
  background: #2e3c50 !important;
  box-shadow: 0px 6px rgba(0,0,0,0.1);
}
.atractivoDetail__boxBtns__span {
  margin-top: 5px;
  font-size: 14px;
  color: #575757;
}
.atractivoDetail__boxBtnsAgencia {
  margin-top: -50px;
  z-index: 1000;
}
.atractivoDetail__boxBtnsAgencia__btn {
  border-radius: 50%;
  font-size: 23px;
  background: #2e3c50 !important;
  box-shadow: 0px 6px rgba(0,0,0,0.1);
}
.atractivoDetail__boxBtnsAgencia__span {
  font-size: 12px;
  color: #575757;
}
.atractivoDetail__boxPaquetes {
  display: block;
  margin-bottom: 15px;
}
.atractivoDetail__boxPaquetes__header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.atractivoDetail__boxPaquetes__header__text {
  font-size: 12px;
  font-weight: bold;
}
.atractivoDetail__boxPaquetes__header__ancla {
  color: #3ab7b8;
  font-weight: bold;
  font-size: 12px;
}
.atractivoDetail__boxPaquetes__content {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 120px;
}
.atractivoDetail__boxPaquetes__item {
  display: inline-block;
  width: 50%;
  height: 100%;
  margin-right: 5px;
  position: relative;
}
.atractivoDetail__boxPaquetes__item__img {
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}
.atractivoDetail__boxPaquetes__item__boxPrecio {
  width: 40%;
  position: absolute;
  min-height: 30px;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  text-align: right;
}
.atractivoDetail__boxPaquetes__item__boxName {
  min-height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}
.atractivoDetail__boxPaquetes__item__name {
  width: 100%;
  white-space: initial;
  padding: 0px 5px;
  font-size: 11px;
  color: #fff;
}
.atractivoDetail__boxDescription {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 10px;
  text-align: center;
}
.atractivoDetail__boxDescription__text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
  color: #575757;
}
.atractivoDetail__boxDescription__ancla {
  color: #3ab7b8;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}
.atractivoDetail__boxCompartir {
  padding: 0px 15px;
}
.atractivoDetail__boxCompartir__btn {
  border-radius: 5px;
  border: 2px dashed #575757;
  color: #fff;
}
.atractivoDetail__boxCompartir__ancla {
  text-decoration: none;
}
.atractivoDetail__boxCompartir__icono {
  margin-right: 7px;
  font-size: 21px;
  color: #3ab7b8;
}
.atractivoDetail__boxCompartir__text {
  color: #575757;
}
.emergency__btn {
  background: #2e3c50;
  border-radius: 150%;
  font-size: 30px;
  color: #fff;
  box-shadow: 2px 3px rgba(0,0,0,0.2);
}
.galery__boxSlide {
  background: rgba(0,0,0,0.949);
}
.galery__img {
  width: 100% !important;
  height: 310px !important;
  margin-top: 5rem;
}
.galery__imgEmpty {
  width: 100%;
  height: 240px !important;
  margin-top: 5rem;
}
.galery__textEmpty {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #a9a9a9;
  font-size: 16px;
}
.galery__description {
  color: #fff;
  padding: 0px 15px;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}
.galeria__content {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  text-align: left;
}
.galeria__item {
  display: inline-block;
  height: 33%;
  width: 50%;
  padding: 0.1rem;
  margin: 0rem;
}
.galeria__img {
  height: 100%;
  width: 100%;
}
.galeria__modal {
  background: #444;
  min-height: 100%;
  overflow-y: auto;
}
.galeria__modal__boxReturn {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
}
.galeria__modal__boxReturn__ancla {
  font-size: 18px;
  color: #fff;
  background: #444;
  border: none;
  text-decoration: none;
}
.galeria__modal__img {
  margin-top: 5%;
  width: 100%;
  height: 360px;
}
.galeria__modal__name {
  font-size: 15px;
  color: #fff;
  padding: 0px 10px;
  text-align: center;
}
.paquete__content {
  height: 100%;
}
.paquete__row {
  height: 100%;
  width: 100%;
  padding: 0rem !important;
}
.paquete__boxItem {
  height: 150px !important;
  margin: 6px;
}
.paquete__boxItem__boxImg {
  width: 100%;
  height: 100%;
  padding: 0rem !important;
}
.paquete__boxItem__boxImg__img {
  width: 100%;
  height: 100%;
}
.paquete__boxItem__boxText {
  width: 100%;
}
.paquete__boxItem__boxText__content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 3px;
}
.paquete__boxItem__boxText__name {
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.paquete__boxItem__boxText__nameAgencia {
  font-size: 14px;
  color: #9a9a9a;
}
.paquete__boxItem__boxText__nameAgencia__linkAgencia {
  color: #3ab7b8;
  font-weight: 500;
  text-decoration: none;
}
.paquete__boxItem__boxText__likes {
  font-size: 13px;
  position: absolute;
  bottom: 0rem;
  left: 5px;
}
.paquete__boxItem__boxText__likes__star {
  font-size: 15px;
  color: #ffc900;
  font-weight: bold;
}
.paquete__boxItem__boxText__precio {
  font-size: 16px;
  position: absolute;
  bottom: 0rem;
  right: 5px;
  color: #2e3c50;
}
.paquete__boxItem__boxText__btnDetail {
  height: 30px;
  font-size: 13px;
  padding: 4px 10px;
  background: #444;
  color: #fff;
  position: absolute;
  bottom: 0rem;
  right: 5px;
}
.agencia__content {
  width: 100%;
  height: 100%;
}
.agencia__item {
  height: 285px;
  margin-top: 10px;
  margin-bottom: 0rem !important;
  padding: 0rem;
  box-shadow: 0 1px 20px rgba(0,0,0,0.3);
}
.agencia__item__boxImg {
  height: 70%;
  width: 100%;
}
.agencia__item__boxImg__img {
  width: 100%;
  height: 100%;
}
.agencia__item__boxtext {
  height: 30%;
  padding: 10px 10px;
  position: relative;
}
.agencia__item__boxtext__name {
  font-size: 13px !important;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.agencia__item__boxtext__boxLike {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.agencia__item__boxtext__number {
  color: #444;
  font-size: 14px;
}
.agencia__item__boxtext__likes {
  font-size: 20px;
  margin-right: 5px;
  color: #ffc900;
}
.agencia__detalle__boxRedes {
  display: block;
  padding: 6px 30px;
}
.agencia__detalle__linkRed {
  text-decoration: none;
  display: block;
  margin-bottom: 7px;
}
.agencia__detalle__linkRed__icon {
  font-size: 20px;
  margin-right: 10px;
}
.agencia__detalle__linkRed__red {
  color: #3ab7b8;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline !important;
}
.modal-backdrop,
.modal-backdrop-bg {
  top: 0% !important;
}
.active {
  color: #3ab7b8 !important;
  font-weight: bold !important;
}
.active > a {
  background: #f4f4f4 !important;
}
