.offline {
  display: inline-block;
  text-align: center;
  height: 90%;
}
.offline__boxImage {
  padding: 90px 35px 0px 35px;
}
.offline__image {
  height: 170px;
  width: 70%;
}
.offline__textUpps {
  font-weight: bold;
  font-size: 18px;
}
.offline__text {
  font-size: 16px;
}
.boxBtnsAtractivo {
  display: inline-block;
  margin: 0.5rem;
}
.btnsAtractivo {
  border-radius: 150%;
  border-radius: 1px solid #11c1f3;
}
.textBtnsAtractivo {
  margin-top: 0.5rem;
  color: #808080;
}
.contentDetalle {
  box-shadow: none !important;
  margin-left: 0rem;
  margin-right: 0rem;
}
.contentDetalle__textDescription {
  text-align: justify;
  line-height: 25px;
  padding-top: 10px;
  margin-left: 7px;
  margin-right: 10px;
  padding-bottom: 10px;
}
.modal-backdrop,
.modal-backdrop-bg {
  top: 60%;
}
