.bg-green
  background $green !important
  color white
  border-color $green !important

.bg-azul
  background $azulOscuro !important
  color white
  border-color $azulOscuro !important
.mr_0_5r
  margin-right 0.5rem
.width_100
  width 100%
.box1, .box2, .box3 {
  height:100%;
}
.labelSearch
  display inline-flex
  height 35px
  margin-right 5px
  &__icon
    font-size 18px
    padding-right 0px

.padding__none
  padding 0rem !important


.btnRefresh
  position absolute!important
  right 45px
  font-size 18px !important
  background #EEEEEE
  border 1px solid #eeeeee


.btnFilter
  font-size 18px !important
  background #f8f8f8
  border 1px solid #eeeeee

.platform-android .bar .title
  font-size 21px !important
  padding-top 1px !important

.popup-body
  color black !important

.loading-container.active{
  margin-top: 44px; //*loading should stay under the header*//
  background: white ;
  /*background-color: rgb(246, 246, 246) !important*/
}

.loading-container .loading {
  color: #444;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
}
.alert_form_message
  background: red;
  padding: 5px;
  color: white

.login
  display: block
  &__img
    width 130px
  &__nombre
    font-size 15px !important
    margin-top 10px !important
    font-weight 500 !important
    color $azulOscuro !important
  &__btnLogin
    font-size 16px !important
    min-height 30px !important
    padding 9px !important
    line-height 20px !important
    width: 70% !important
    margin-top: 8px !important
    border-radius 4px !important
  &__inputIcon
    font-size 25px !important
  &__input
    font-size 17px !important
    padding-left 10px !important
  &__btnIniciarSesion
    font-size 19px !important
    background $azulOscuro !important
    color white
  &__btnRegitrarse
    font-size 19px !important
    background $green !important
    color white
