.bg-green
  background $green !important
  color white
  border-color $green !important

.bg-azul
  background $azulOscuro !important
  color white
  border-color $azulOscuro !important

.mr_0_5r
  margin-right 0.5rem

.box1, .box2, .box3 {
  height:100%;
}





