body
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;

.atractivoDetail
  &__boxHeader
    display block
    height 50%
  &__titleLugar
    text-align center
    font-size 15px
    margin-top 15px
  &__boxPortada
    height 100%
  &__imgPortada
    width 100%
    height 100%
  &__boxBtns
    position absolute
    top 305px
    z-index 1000
    &__btn
      border-radius 50%
      font-size 23px
      background $green !important
      box-shadow 5px 10px #aaaaaa1c

