body
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;

.home
  &__content
    height 100%
  &__boxSlider
    display block
    height 50%
    &__slider
      height 100%
      &__boxImg
        height 100%
        text-align center
      &__text
        width 100%
        position: absolute;
        top: 20%;
        z-index: 3000;
        text-align: center
        color white
        padding 0px 10px
        font-size 20px
      &__img
        filter: brightness(0.6);
        width 100%
        height 100%

  &__boxModulos
    height 50%
    display block
    &__row
      height 50%
      padding-top 40px !important
    &__item
      &__ancla
        text-decoration none
      &__icon
        color $green
        font-size 45px
      &__name
        color $azulOscuro
        font-size 15px
        font-weight bold




.atractivoDetail
  &__boxHeader
    display block
    height 50%
  &__titleLugar
    text-align center
    font-size 20px
    margin-top 15px
    position absolute
    top 20%
    z-index 1000
    color white
    padding 0px 25px
    width 100%
  &__boxPortada
    height 100%
  &__imgPortada
    filter: brightness(0.6)
    width 100%
    height 100%
  &__boxBtns
    position absolute
    top 43%
    z-index 1000
    &__btn
      border-radius 50%
      font-size 23px
      background $azulOscuro !important
      box-shadow 0px 6px rgba(0,0,0,0.1)
    &__span
      font-size 12px
      color $cenizoClaro

  &__boxDescription
    margin-top: 15px;
    padding: 0px 10px;
    text-align center
    &__text
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom 3px
      color $cenizoClaro
    &__ancla
      color $green
      font-weight bold
      text-decoration none

  &__boxCompartir
    margin-top 60px
    padding 0px 15px
    &__btn
      border-radius 5px
      border 1px dashed $cenizoClaro
      color white
    &__ancla
      text-decoration none
    &__icono
      margin-right 7px
      font-size 21px
      color $green
    &__text
      color $cenizoClaro

.emergency
  &__btn
    background $azulOscuro
    border-radius 150%
    font-size 30px
    color white
    box-shadow 2px 3px rgba(0,0,0,0.2)


.galery
  &__boxSlide
    background #000000f2
  &__img
    width 100%
    height 300px !important
    margin-top 5rem
  &__imgEmpty
    width 100%
    height 240px !important
    margin-top 5rem
  &__textEmpty
    width 100%
    text-align center
    font-weight bold
    color darkgrey
    font-size 16px
  &__description
    color white
    padding 0px 15px
    text-align center
    margin-top 15px
    font-size 14px



.galeria
  &__content
    display: inline-block;
    width: 100%;
    height 100%
    background: $greyLight;
    text-align: left;
  &__item
    display: inline-block;
    height 33%
    width: 50%;
    padding: .1rem;
    margin: 0rem;
  &__img
    height 100%
    width 100%
  &__modal
    background $dark
    min-height 100%
    overflow-y auto
    &__boxReturn
      padding 25px 20px
      display flex
      justify-content space-between
      &__ancla
        font-size 18px
        color white
        background $dark
        border none
        text-decoration none
    &__img
      margin-top 5%
      width 100%
      height 360px
    &__name
      font-size 15px
      color white
      padding 0px 10px
      text-align center

.modal-backdrop, .modal-backdrop-bg
  top 0% !important


.active
  color $green !important
  font-weight bold !important
.active > a
  background #f4f4f4 !important

